
/*Les différentes types de polices utilisées*/
@font-face{ 
    font-family: "Roboto";
    src:url(Roboto.eot) format('eot');
    src:url(Roboto.svg) format('svg');
    src:url(Roboto.woff) format('woff');
    src:url(Roboto.ttf) format('ttf');
} 
@font-face{ 
font-family: "Montserrat";
src:url(Montserrat.eot) format('eot');
src:url(Montserrat.svg) format('svg');
src:url(Montserrat.woff) format('woff');
src:url(Montserrat.ttf) format('ttf');
} 
/*Le code principal*/
body{
    font-family: 'Montserrat', Impact, sans-serif;
    font-size: 1.2em;
    margin: 0px;
    padding: 0px;
}
/*La mise en forme de l'en-tête de la page*/
li{
    list-style: none;
}
header{
    margin:0px;
    padding: 0px;
    background-color:#1F618D;
}

.conteneur {
    width: 100%
}
.titre1{ text-align: center;}
.containeur-page {
    width: 100%;
    margin: 0px;
}
nav ul li a{
    font-size: .9em;
    color: white;
    background-color:#1F618D;
}
.navbar{
    color: white;
    background-color:#1F618D;
    justify-content: center;
}
.navbar > a{
    color: white;
  
}
.navbar-brand{
    background-color:#1F618D;
}
a{
    text-decoration: none;
    color: white;
    margin: 3px;
    flex-wrap: wrap;
}
a:hover{
   text-decoration: none;
   color: white;
   transform: scale(1.05);
   transition: .3s;
}
nav{
    display: flex; 
}

nav > ul li {display: flex; margin-left: 2%; margin-right: 2%;}
#navbarContent  ul li a {
    color:white;
    background-color: #D35400;
}
#navbarContent {
    justify-content: space-around;
}
#navbarContent ul li {
    margin-left: 50px;
    margin-right: 50px;
    justify-content: space-around;
}
/*La mise en forme du cors de la page */
.merci{
    font-size: 1.6em;
    margin-left: 10%;
    width: 80%;
    font-weight: bold;
    color: #0df65b;
    background-color: black;
    box-shadow: 5px 6px 6px grey;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 5%;
}
.prepa-commande{
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}
section{
    margin-top: 2%;
    margin-bottom: 10%;
    margin-left: 5%;
}
#command_price{
    background-color: blue;
    color: white;
}

#command_orderId{
    background-color: blue;
    color: white;
}
#command_email{
    background-color: blue;
    color: white;
}

footer{
    margin-top: 12%;
    background-color:#1F618D;
    color: white;
    font-size: 1.2em;
    text-align: center;
}
/*La media query de largeur maximale 1024px*/
@media screen and (max-width: 1024px){
    header{
        font-size: 1.5em;
    }
    #navbarContent ul {
        display: flex;
        flex-direction: column;
        transform: translateX(10%);
        width: 80%;
    }
    #navbarContent ul li {
        margin-left: 0px;
        margin-right: 0px;
        justify-content: space-around;
    }
    #navbarContent  ul li a{
        width: 80%;
    }
    .merci{
        font-size: 1.5em;
    }
    body{
        font-size: 1.9em;
    }
    footer{
        margin-top: 15%;
        font-size: 1.2em;
    }
}
/*La media query de largeur maximale 767px*/
@media screen and (max-width: 767px){
    header{
        font-size: 1em;
    }
    #navbarContent ul {
        display: flex;
        flex-direction: column;
        transform: translateX(10%);
        width: 80%;
    }
    #navbarContent ul li {
        margin-left: 0px;
        margin-right: 0px;
        justify-content: space-around;
    }
    #navbarContent  ul li a{
        width: 80%;
    }
    .merci{
        font-size: 1.5em;
    }
    body{
        font-size: 1.1em;
    }
    footer{
        font-size: 1.1em;
    }
}

/*La media query de largeur maximale 375px*/
@media screen and (max-width: 375px){
    header{
        font-size: .9em;
    }
    #navbarContent ul {
        display: flex;
        flex-direction: column;
        transform: translateX(10%);
        width: 80%;
    }
    #navbarContent ul li {
        margin-left: 0px;
        margin-right: 0px;
        justify-content: space-around;
    }
    #navbarContent  ul li a{
        width: 80%;
    }
    .merci{
        font-size: 1.2em;
    }
    body{
        font-size: 1.1em;
    }
    footer{
        margin-top: 30%;
        font-size: 1em;
    }
}