/*Les différentes types de polices utilisées*/
@font-face{ 
    font-family: "Roboto";
    src:url(Roboto.eot) format('eot');
    src:url(Roboto.svg) format('svg');
    src:url(Roboto.woff) format('woff');
    src:url(Roboto.ttf) format('ttf');
} 
@font-face{ 
font-family: "Montserrat";
src:url(Montserrat.eot) format('eot');
src:url(Montserrat.svg) format('svg');
src:url(Montserrat.woff) format('woff');
src:url(Montserrat.ttf) format('ttf');
} 
/*Le code principal*/
body{
    font-family: 'Montserrat', Impact, sans-serif;
    font-size: 1.2em;
    margin: 0px;
    padding: 0px;
}
li{
    list-style: none;
}
header{
    margin:0px;
    padding: 0px;
    background-color:#1F618D;
}

.conteneur {
    width: 100%
}
.titre1{ text-align: center;}
.containeur-page {
    width: 100%;
    margin: 0px;
}
nav ul li a{
    font-size: .9em;
    color: white;
    background-color:#1F618D;
}
.navbar{
    color: white;
    background-color:#1F618D;
    justify-content: center;
}
.navbar > a{
    color: white;
  
}
.navbar-brand{
    font-size: 1.5;
    background-color:#1F618D;
}
a{
    text-decoration: none;
    color: white;
    margin: 3px;
    flex-wrap: wrap;
}
a:hover{
   text-decoration: none;
   color: white;
   transform: scale(1.1);
   transition: .3s;
}
nav{
    display: flex; 
}

nav > ul li {display: flex; margin-left: 2%; margin-right: 2%;}
#navbarContent  ul li a {
    text-align: center;
    width: 100%;
    color:white;
    background-color: #D35400;
}
#navbarContent {
    justify-content: space-around;
}
#navbarContent ul li {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    width: 80%;
    /*justify-content: space-between;*/
}
#navbarContent ul {
    width: 90%;
    /*justify-content: space-between;*/
}
.titre{
    font-family: 'Roboto', Impact, sans-serif;
    margin-bottom: 3%;
    margin-top: 3%;
    background-color:#1F618D;
    color: white;
    font-size: 1.5em;
}
article{
    width: 98%;
    text-align: justify;
    
}
.div-img-desc-panier{
    display: flex;
    justify-content: space-between;
}
#descript{
    padding-left: 2px;
    padding-right: 2px;
    border: solid 2px blue;
    padding-top: 0px;
    margin-left: 10%;
    margin-top: 1%;
}
#descript:hover{
    transform: scale(1.05);
    transition: .3s;
    box-shadow: 4px 6px 6px;
}
#descript > h3{
    background-color: blue;
    text-align: center;
    color: white;
    font-weight: bold;
}

#bouton{
    margin-bottom: 2%;
    margin-left: 15%;
    margin-top: 5%;
    background-color: #df5f0a;
    color: white;
    width: 200px;
    font-weight: bold;
    height: 50px;
    border-radius: 10px;
}
#bouton:hover{
    transform: scale(1.05);
    transition: .3s;
    background-color: #ad4a07;
}
.bouton_panier{
    margin-bottom: 2%;
    margin-left: 15%;
    margin-top: 5%;
    background-color: green;
    color: white;
    width: 200px;
    font-weight: bold;
    height: 50px;
    border-radius: 10px;
}
.bouton_panier:hover{
    transform: scale(1.05);
    transition: .3s;
    background-color: #045d04;
}
.panier{
    color: white;
    font-weight: bold;
    font-size: .8em;
    margin-top: .1%;
    margin-right: 2%;
}
.panier img {
    width: 80px;
    background-color: white;
}
#result{
    width: 25px;
    object-fit: cover;
    border-radius: 50%;
    /*font-family: 'Roboto', Impact, sans-serif;*/
    background-color: black;
    font-weight: bold;
    margin-top: 0px;
    margin-left: 30%;
    padding-top: 0px;
    padding-left: 2%;
    text-align: center;
    transform: translate(0px, 40px); 
}

.conte-page{
    
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
}
.conteneur {
    margin-bottom: 0%;
}

/*Les balises pour les images ours*/
.image1 img {
    width: 410px;
    
}
.section-ted {
    background-color: #002346;
    width: 450px;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}
#balide1{
    margin-bottom: 50px;
    width: 410px;
}
#image1  {
    width: 100%;
}
#image1 > a:hover {
    transform: scale(1.1);
    transition: .3s;
}
footer{
    background-color:#1F618D;
    color: white;
    font-weight: bold;
    text-align: center;
}
@media screen and (max-width: 1024px){
    header{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .panier {
        transform: translateX(-10px);
    }
    .pani {
        font-size: 1.8em;
    }
    .navbar {
        width: 90%;
    }
    #navbarContent  ul li a {
        font-size: 1.3em;
        text-align: center;
        width: 200px;
        height: 90px;
        color:white;
        background-color: #D35400;
    }
    #navbarContent {
        width: 50%;
        margin-left: 10%;
        margin-right: 10%;
        /*transform: translateX(10%);*/

    }
    .coll{
        width: 100%;
        margin: auto;
    }
    #navbarContent ul {
        display: flex;
        flex-direction: column;
        /*transform: translateX(20%);*/
        width: 50%;
    }
    #navbarContent ul li {
        width: 50%;
        margin-left: 10px;
        margin-right: 10px;
        /*justify-content: space-between;*/
    }

    .conte-page{
        font-size: 1.2em;
        width: 95%;
        margin: auto;
    }
    .titre{
        font-size: 1.7em;
    }
   .cont-articles {
       width: 98%;
       flex-wrap: wrap;
       font-size: 1.6em;
   }
   .section-ted {
       width: 100%;
   }
   .div-img-desc-panier{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
   #balide1{
    margin-bottom: 50px;
    width: 100%;
}
    .image1  {
    width: 100%;
}
    .image1 img {
    width: 100%;
}
#nom_article h6{
    color: black;
    font-size: 1.2em;
    font-weight: bold;
}
#descript{
    margin-bottom: 8%;
    font-size: 1.5;
    margin-left: 0px;
}
#descript > h3{
    font-size: 1.7em;
}

#prix_article h6{
    color: black;
    font-size: 1.2em;
    font-weight: bold;
}
#bouton{
    font-size: .8em;
    width: 300px;
    height: 100px;
    margin-left: 10%;
}
.bouton_panier{
    font-size: .8em;
    margin-left: 10%;
    width: 300px;
    height: 100px;
}

   footer{
       margin-top: 4%;
       width: 100%;
       font-size: 1.5em;
       flex-wrap: wrap;
   }
   footer p {
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
}
footer div {
    margin: auto;
    width: 90%;
    flex-wrap: wrap;
}
}
@media screen and (max-width: 767px){
    header{
        font-size: .7em;
    }
    .panier {
        transform: translateX(10px);
    }
    nav > a {
        transform: translateX(20px)
    }
    #navbarContent  ul li a {
        font-size: 1em;
        text-align: center;
        width: 90px;
        height: 60px;
        color:white;
        background-color: #D35400;
    }
    #navbarContent {
        width: 40%;
        /*transform: translateX(10%);
        /*justify-content: space-between;*/
    }

    #navbarContent ul {
        display: flex;
        flex-direction: column;
       /* transform: translateX(10%);*/
        width: 100%;
    }
    #navbarContent ul li {
        margin-left: 10px;
        margin-right: 10px;
        /*justify-content: space-between;*/
    }
    .conte-page{
        width: 95%;
        margin: auto;
    }
    .pani{
        font-size: 1.6em;
    }
    .titre{
        font-size: .9em;
    }
   .cont-articles {
       width: 100%;
       flex-wrap: wrap;
       font-size: 1em;
   }
   .section-ted {
       width: 100%;
   }
   .div-img-desc-panier{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
   #balide1{
    margin-bottom: 50px;
    width: 100%;
}
    .image1  {
    width: 100%;
}
    .image1 img {
    width: 100%;
}
    .image1 > a:hover {
    transform: scale(1.1);
    transition: .3s;
}
#descript{
    margin-left: 0px;
}
#bouton{
    font-size: 1em;
    margin-top: 5%;
    width: 300px;
    height: auto;
    margin-left: 15%;
    margin-right: auto;
}
.bouton_panier{
    font-size: 1em;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: auto;
    width: 300px;
    height: auto;
}
.coll{
    width: 100%;
    margin: auto;
}

   footer{
       width: 100%;
       font-size: .9em;
       flex-wrap: wrap;
   }
   footer p {
    width: 90%;
    margin: auto;
    font-size: .9em;
    flex-wrap: wrap;
}
footer div {
    margin: auto;
    width: 90%;
    font-size: .9em;
    flex-wrap: wrap;
}
}
@media screen and (max-width: 374px){
    header{
        width: 100%;
        font-size: .7em;
    }
    .panier {
        width: 80px;
        transform: translateX(0px);
    }
    .pani{
        margin-left: 1%;
    }
    nav > a {
        transform: translateX(40px)
    }
    #navbarContent  ul li a {
        font-size: .8em;
        text-align: center;
        width: 80px;
        height: 60px;
        color:white;
        background-color: #D35400;
    }
    #navbarContent {
        width: 40%;

    }

    #navbarContent ul {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #navbarContent ul li {
        margin-left: 10px;
        margin-right: 10px;
    }
    .conte-page{
    
        width: 95%;
        margin: auto;
    }
    .titre{
        font-size: .9em;
    }
   .cont-articles {
       width: 100%;
       flex-wrap: wrap;
       font-size: .8em;
   }
   .section-ted {
       width: 95%;
   }
   #balide1{
    margin-bottom: 50px;
    width: 100%;
}
.div-img-desc-panier{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#bouton{
    font-size: .8em;
    width: 200px;
    height: 50px;
    margin-left: 10%;
}
.bouton_panier{
    font-size: .8em;
    margin-left: 10%;
    width: 200px;
    height: 50px;
}
    .image1  {
    width: 95%;
}
    .image1  img {
    width: 100%;
}
    .image1 > a:hover {
    transform: scale(1.1);
    transition: .3s;
}
.pani{
    font-size: 1.2em;
}
#descript{
    margin-left: 0px;
}
.coll{
    width: 100%;
    margin: auto;
}

   footer{
       width: 100%;
       font-size: .9em;
       flex-wrap: wrap;
   }
   footer p {
    width: 90%;
    margin: auto;
    font-size: .9em;
    flex-wrap: wrap;
}
footer div {
    margin: auto;
    width: 90%;
    font-size: .9em;
    flex-wrap: wrap;
}  
}